body{
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color:#008080;
       }

h1 {
	font-size: 1.3em;
	text-align:middle;
	image-align:middle;
     }

table {
	text-align:center;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #ffffff;
	text-align:center;
	background-color:#9FB6CD; 
    }

th {
	text-align:center;
	color:#ffffff;
	background-color:#003366;
   }
