body{
	background-color: lightgreen;
	font-family: "Marker Felt","Comic Sans MS", fantasy;
	color:#7627BB;
       }
p {
  font-family: verdana;
  font-size: 9px;
  text-align: center;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
     }
h3 {
  color: white;
  text-align: center;
     }

h4 {
  color: white;
  text-align: center;
     }
h5 {
  color: white;
  text-align: center;
     }

h6 {
  color: white;
  text-align: center;
     }

table {
	text-align:center;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	margin-left:middle;
	margin-right:middle;
	border: 1px solid #800080;
	text-align:center;
	background-color:#7627BB; 
    }

th {
	text-align:center;
	color:#ffffff;
	background-color:#7627BB;
   }

